<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkHub</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addresource.css') }}">
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="logo" width="50px">
        <a href="{{ url_for('home.index_sus') }}"><h1>Linkhub</h1></a>
    </div>
    <form action="" class="form-addres" method="post">
        <input type="text" name="description" id="description" 
        placeholder="Description">
        <input type="text" name="name" id="name"
        placeholder="Name">
        <input type="text" name="link" id="link"
        placeholder="Link">
        <input type="email" name="email" id="email"
        placeholder="Email">
        <input type="submit" value="Add Resource">
    </form>
    
    {% for category, messages in get_flashed_messages(with_categories=true) %}
        <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ messages }}
        </div>
    {% endfor %}
    
    <!-- <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Indicates a dangerous or potentially negative action.
    </div> -->

</body>
</html>