<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
    <title>LinkHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="header">
        <h1 class="logo-text">LinkHub</h1>
        <p class="tagline">Share resources with ease.</p>
        <div class="redirects">
            <img src="{{ url_for('static', filename='gh-logo.svg') }}" alt="github" onclick="window.location.href=''">
            <img src="{{ url_for('static', filename='links.svg') }}" alt="links" onclick="window.location.href='https://sayyed-salman.github.io/LinkToNotes/'" width="40px">
        </div>
        <button onclick="window.location.href='{{ url_for('home.add_resource') }}'">Add Resource</button>
    </div>
    <div class="links">
        {% for i in data %}
        <div class="resource" onclick="location.href='{{ i.link }}'">
            <div class="description">
                {{ i.about }}
            </div>
            <p class="name">
                {{ i.provider_name }}
            </p>
        </div>
        {% endfor %}
    </div>
</body>
</html>