@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.header .redirects {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.header h1 {
    font-family: 'IBM Plex Mono';
    font-size: 5rem;
    font-weight: 400;
}

.header p {
    font-family: 'IBM Plex Mono';
    font-size: 2rem;
}

.header button{
    border: none;
    padding: 10px;
    padding-inline: 15px;
    font-family: 'IBM Plex Mono';
    border-radius: 90px;
    font-weight: 400;
    background-color: #D9D9D9;
}

.header button:hover{
    background-color: black;
    color: #D9D9D9;
}

.links{
    padding: 2rem;
    margin: 2rem 1rem 0 1rem;
    font-family: 'IBM Plex Mono';
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    border-radius: 1rem;
    max-width: 1280px;
    align-self: center;
    margin: auto;
    margin-top: 2rem;
}


.resource{
    display: flex;
    min-width: 300px;
    min-height: 300px;
    /* change this to fiddle with width of resource card  */
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
}

.resource .description:hover{
    background-color: blueviolet;
}

.resource:hover .description{
    color: black;
}

.resource:hover{
    background-color: black;
    color: #D9D9D9;
}

.resource .description{
    background-color: white;
    min-width: 100%;
    min-height: 70%;
    /* chage this to resize description box */
    max-width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.resource .name {
    font-weight: 600;
}

@media only screen and (max-width: 600px){

    .header h1{
        font-size: 12vw;
        font-weight: bolder;
    }

    .header p {
        font-size: 5vw;
    }

    .links{
        background-color: white;
    }
}